[2016-06-18 08:06] v0dro opened #1 "Follow gem naming conventions"
http://guides.rubygems.org/name-your-gem/

[2016-07-06 17:15] v0dro commented on #1
@Arafatk

[2016-07-08 05:48] nethsix opened #5 "`bundle exec rake rspec` fails when ruby-tensorflow is installed using rvm"
When installing using rvm, the path where Tensorflow.bundle installed is different.
This has 2 repercussions:
* The note in README.md specifying the location of Tensorflow.bundle is wrong
* The `require 'tf/Tensorflow` in `lib/tensorflow.rb` fails.
This is an attempt to fix this issue (https://github.com/Arafatk/ruby-tensorflow/pull/4)

[2016-07-10 14:55] nethsix opened #7 "'make install' does not create 'tf/Tensorflow.so' but instead create 'tf'"
When we do 'make install' step, the system will do something like:
`/usr/bin/install -c -m 0755 Tensorflow.so /usr/local/rvm/rubies/ruby-2.2.4/lib/ruby/site_ruby/2.2.0/x86_64-linux/tf`

However if the `tf/` does not exist thus instead of creating `Tensorflow.so` in `tf/`, it just creates `Tensorflow.so`

The easiest bypass for now is to create 'tf/' in the directory that the install will be prior

[2016-07-11 03:02] nethsix opened #8 "'bundle install' for nmatrix fails on MacOS unless user has special compiler flags"
@chrhansen , @Arafatk

'bundle install' now breaks (see message below) since `nmatrix` requires gcc that supports special flags. If we want this gem to be used widely, it may be good to keep additional installation steps to a minimum? Is `nmatrix` required for accuracy in rspec testing or for performance reason? Would it make sense for someone to have the option to install the gem with `nmatrix` t

[2016-07-11 04:57] Arafatk commented on #8
@nethsix I am very sorry for the trouble.
The gem is working fine for me, but I get your point. After a short discussion, Christian used NMatrix  in tests for checking if the shape of the arrays are correct (or not) and made a ruby equivalent of [assertAllClose](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/test_util.py#L407) as you can see [here](https://github.

[2016-07-11 15:18] nethsix commented on #8
@Arafatk @chrhansen No trouble at all! I am sure I can make it work on my MacOS as well, and I will. My only concern is how this may deter casual users from installing the gem.

[2016-07-11 15:19] nethsix commented on #5
This fix, which is mine is BAD.
The main failure is because 'make install' failed to install the Tensorflow.bundle correctly.
I've submitted a better fix (https://github.com/Arafatk/tensorflow.rb/pull/9)

[2016-07-11 15:22] nethsix commented on #7
@Arafatk One way to elegantly resolve the 'make install' issue is to restructure the 'ext/' directory, which I have done.
I have also restructure the 'lib/' directory so that Graph, Session, Tensor, etc. are now all prefixed with Tensorflow::. Hopefully this keeps the global namespace clean; much like in Python tensorflow.Session is used instead of just Session, with this patch we can use Tensorfl

[2016-07-11 16:26] chrhansen commented on #8
@nethsix Thanks for bringing this up! It was a bit of a concern for me when submitting #6. I mentioned it also to @mohawkjohn over at https://github.com/SciRuby/nmatrix/issues/505#issuecomment-231302232 and they've created and issue https://github.com/SciRuby/nmatrix/issues/525 to fix this for mac users.

Short term I don't mind rewriting `all_be_close` like what @Arafatk suggest above (and remove

[2016-07-12 01:14] nethsix commented on #1
Putting here for reference, guidelines on how to structure/name 'lib/' and 'ext/' directories:

* http://guides.rubygems.org/make-your-own-gem/
* http://guides.rubygems.org/gems-with-extensions/

[2016-07-12 01:31] nethsix commented on #8
@chrhansen Nice. Glad to know `NMatrix` is working on a fix. Like you, I do believe that we may need `NMatrix` more moving forward.

[2016-07-12 06:50] Arafatk commented on #1
@nethsix @v0dro  Is it okay if I close the issue ?

[2016-07-12 07:02] nethsix commented on #1
@Arafatk I'm totally good.

[2016-07-12 07:02] #1 closed

[2016-07-12 07:17] nethsix commented on #5
Closing since #9 merged

[2016-07-12 07:17] #5 closed

[2016-07-12 07:18] nethsix commented on #7
Closing because #9 merged.

[2016-07-12 07:18] #7 closed

[2016-07-13 17:31] chrhansen commented on #8
@Arafatk could you assign this issue to me, or give permissions to assign issues?

I think I'll remove nmatrix and just do a manual check of shape and values similar to what @Arafatk suggests, if you guys agree.

[2016-07-13 17:39] Arafatk commented on #8
@chrhansen  I am having some issues with assignees on github so I cannot see or put any name on the list other than mine.
This is nice and It would be good.

[2016-07-14 00:41] #8 closed

[2016-07-15 23:01] sebastiandeutsch opened #17 "Spec fails unpredictably"
For some reason the string data spec fails. When I run it for the first time I get these results:

[code]

When I run it again I get this error:

[code]

I'm running OSX (El Capitain)

[code]

[2016-07-15 23:08] sebastiandeutsch commented on #17
Here comes the second error with --trace

[code]

[2016-07-15 23:16] chrhansen commented on #17
@sebastiandeutsch thanks I get the same on El Capitan:

[code]

I think it was introduced a few days ago https://github.com/Arafatk/tensorflow.rb/commit/6582b92b4a693ef46b57a5b4357502f0ec1ce7ed when introducing support for string data-types. We're very early in the project, but this should obviously not happen. We'll very soon have CI setup and should probably start exclusively build new features

[2016-07-15 23:37] sebastiandeutsch commented on #17
Thanks for the notice. I know that you're early in the project - I hope reporting some bugs helps.

[2016-07-16 04:59] nethsix commented on #8
@chrhansen Nice!!!!

[2016-07-16 05:42] chrhansen commented on #8
@nethsix thanks!

Off-topic, but now that I have you: do you by any chance have suggestions how to build Tensorflow on Travis-ci? I've tried a bunch of things, [here](https://github.com/chrhansen/tensorflow.rb/pull/1/files#diff-354f30a63fb0907d4ad57269548329e3R23), but currently I'm stuck at `bazel build` [failing](https://travis-ci.org/chrhansen/tensorflow.rb/builds/145164462) because of a [C++ c

[2016-07-17 17:56] Arafatk commented on #17
@sebastiandeutsch @chrhansen Sorry for the trouble guys. I am looking into this.

[2016-07-18 03:28] nethsix commented on #8
@chrhansen I believe that Travis CI uses some container technology like Docker, Vagrant, etc., to run the build and this could be related bazel not having the appropriate authorization. Perhaps this is related to: http://stackoverflow.com/questions/37213455/bazel-build-fails-with-executing-genrule-six-archive-copy-six-failed-error. It could also be something simpler as in not being in the correct

[2016-07-18 03:38] chrhansen commented on #8
@nethsix Thanks. Could be – I've tried a couple things since two days ago.

I found out that in the [node-tensorflow/node-tensorflow](https://github.com/node-tensorflow/node-tensorflow#tensorflowjs)-project they have [successfully compiled and built](https://travis-ci.org/node-tensorflow/node-tensorflow/builds/109526064) Tensorflow with bazel for the Node.js-wrapper. So I'm currently seeing if I c

[2016-07-18 08:12] nethsix commented on #8
@chrhansen I am now on gitter! I don't have experience using gitter so please do share how to use it effectively!

Thus far, for me (due to my lack of gitter experience), as much as possible I prefer discussions to be under 'issues', mainly because:

* It tends to help everyone to think carefully before writing, thus keeping discussions short and to the point
* Chat can get noisy after sometime, a

[2016-07-18 17:52] zverok opened #21 "Rename main module"
I believe it should be `TensorFlow` (with corresponding gem change to `tensor_flow`). Current version is not looking too reasonable.

[2016-07-18 18:21] chrhansen commented on #8
@nethsix Ok! I also haven't used Gitter before, so really don't know if it's more helpful (reaching out to people) or more noise. My point was more that, I wanted to message you, and only had the issue-note option. I also prefer discussions to be within issues, but only if the discussion is related to the issue, which my Travis-compiler-question isn't.

[2016-07-18 23:30] Arafatk commented on #17
@chrhansen I am sorry, but I cannot replicate this. I believe this is probably a memory related issue. One way would be to change the value of `data_size` on [line](https://github.com/Arafatk/tensorflow.rb/blob/master/lib/tensorflow/tensor.rb#L135) 91 to `16` from `8`. If you still face the issue, we could remove string data type temporarily as it is not that important currently.

[2016-07-19 00:21] sebastiandeutsch commented on #17
I ran the specs with both values (8 and 16) and get almost the same error. If I could do a guess: The encoding of Ruby strings differs from the Tensorflow string representation (byte array). Which Ruby are you using?

[2016-07-19 00:21] chrhansen commented on #17
@Arafatk

### Not changing anything

Note that if I only run the failing spec, `rspec ./spec/tensor_spec.rb:17`, I "just" get a spec-failure, but if I run all, `rspec`, I "sometimes" get a `malloc_error_break`-error. Also, note that in the failing specs I sometimes have proper string encoding and sometimes raw bytes.

[code]

### Changing only __L135__ to `self.data_size = 16`

The same as above.

[2016-07-19 01:53] geoffreylitt commented on #21
I would agree with changing capitalization to TensorFlow. That's how it's written on the [website](https://www.tensorflow.org/), so I think that's least surprising to a new developer trying to remember usage.

However, given that the Python module is called `tensorflow`, I would personally support keeping the gem name like that. I also think `tensorflow` is more attractive than `tensor_flow`.

[2016-07-19 02:01] geoffreylitt commented on #17
I'm seeing the same test fail on my machine, with a seemingly different error. I'm running on the Docker image in the README. Hopefully this error message is helpful in debugging the issue.

[code]

[2016-07-19 02:56] nethsix commented on #8
@chrhansen Agree. We're polluting this thread as we chat. On to Gitter!

[2016-07-19 08:27] Arafatk commented on #17
Sorry guys, I am thinking of reverting the commit [6582b92](https://github.com/Arafatk/tensorflow.rb/commit/6582b92b4a693ef46b57a5b4357502f0ec1ce7ed) for string data type for now. I will add it again soon.
I hope you are cool with this.

[2016-07-19 10:45] zverok commented on #21
@geoffreylitt In fact, nobody will panish us for any solution, but in Ruby there is pretty strong agreement to have correspondence between gem name, main file name, and main gem namespace, so it is expected to either be `gem tensorflow`/`require 'tensorflow'`/`module Tensorflow` or `gem tensor_flow`, `require 'tensor_flow`/`module TensorFlow`.

[2016-07-19 17:26] sebastiandeutsch commented on #17
I assume there are two problems int this spec. When I just put one element in the Array everything works fine:

[code]

I can run the spec multiple times without an error. When I pass a string that contains UTF-8 characters (like german umlauts) then the test fails immediately:

[code]

with the following error:

[code]

How can I help with further debugging? I think the problem lies in `ruby_arra

[2016-07-19 23:38] sebastiandeutsch commented on #17
I've did some further investigation:

I've replaced every string item with a predefined `std::string`. This way I can be sure that there is no conversion error from Ruby to C (since I'm basically discarding all the Ruby values).

[code]

Furthermore I've manually debugged `string_reader` by putting an `std::cout` before the `push_back`.

[code]

Unfortunately this is the output:

[code]

My assump

[2016-07-19 23:55] chrhansen commented on #17
@sebastiandeutsch good work at never the less!

[2016-07-20 00:27] Arafatk commented on #17
@sebastiandeutsch Thanks a lot! This is good.
I have attached a zip file which contains a simple example of using SWIG. If this works fine for you,then then we would be sure that SWIG std::string works fine. [example.zip](https://github.com/Arafatk/tensorflow.rb/files/372669/example.zip)

[2016-07-20 06:48] chrhansen commented on #21
If you ask me I'd also prefer the most simple, lowercase one word, `tensorflow`, and loose the `.rb` ending. Also, in general, I think we should stay as close to the naming and API of the python module as possible, unless it conflicts with Ruby conventions.

I would _prefer_ to see `module TensorFlow` (T and F capitalized), but would rather stick with `require 'tensorflow'` and `module Tensorflow`

[2016-07-20 07:19] zverok commented on #21
OK, then let's make the most reasonable thing: `tensorflow` gem name/main file name and `TensorFlow` module name. I agree all other options are quite ugly.

[2016-07-20 10:24] sebastiandeutsch commented on #17
Compiled and ran it. Everything is fine with std::string.

[2016-07-20 10:37] Arafatk commented on #17
@sebastiandeutsch Thanks.

[2016-07-20 11:30] sebastiandeutsch commented on #17
I have some further observation. When I change `data_size` the string gets crippled at that byte size:

[code]

outputs:

[code]

[2016-07-20 11:56] sebastiandeutsch commented on #17
When you initialize a tensor you'll call `Tensorflow::TF_NewTensor_wrapper` in [Line 55](https://github.com/Arafatk/tensorflow.rb/blob/master/lib/tensorflow/tensor.rb#L55). The last parameter is a `size_t len` which will allocate an appropriate amount of memory. The length is currently calculated like this: `self.data_size * self.flatten.length` where `data_size` is the fixed size of an array item

[2016-07-20 12:05] sebastiandeutsch commented on #17
BTW: I've adapted `initialize`

[code]

and now the spec passes for regular strings. It still fails if I put UTF-8 strings inside:

[code]

Which is technically correct and RSpec might be a bit picky about UTF-8 strings.

[2016-07-20 18:12] sebastiandeutsch commented on #17
Update: The encoding is lost on the strings (the input strings have UTF-8 the output strings have ASCII-8BIT. I assume the whole vector of strings to array of strings is a hassle for SWIG. Any pointers to some SWIG specialists that might be able to have a clue for us?

[2016-07-20 19:52] Arafatk commented on #17
@sebastiandeutsch Thanks man this is a great find. I was not able to the replicate the previous errors, but I can replicate this one. I think its best if we could raise, an [issue](https://github.com/swig/swig/issues) on swig by giving a very simple example (and uploading the previous example files I sent you)

[code]

 I am sorry, I could not put that much time, but I am really swamped by college

[2016-07-20 21:25] sebastiandeutsch commented on #17
Cool. No worries - your college has priority :-) what do you think about my theory that `len` is not properly calculated?

[2016-07-20 23:45] sebastiandeutsch commented on #17
@Arafatk btw I put the little demo in a Github repository: https://github.com/sebastiandeutsch/swig-example

The roadmap would be two things:

- [ ] Preserving UTF-8 Encoding (probably with typemaps or asking for help at the SWIG community)
- [ ] Isolating the behavior of your code
    - [ ] Converting the `vector<std::string>` into an `array` of `std::string`
    - [ ] Copying the whole data stru

[2016-07-21 23:36] sebastiandeutsch commented on #17
@Arafatk I've just investigated the python client for tensorflow. Look how they're dealing with it:

- [They encode the strings in 'array' into a contiguous buffer](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/client/tf_session_helper.cc#L242)
- In [TF_Run_wrapper_helper](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/client/tf_session_helper.cc#L3

[2016-07-22 00:24] sebastiandeutsch commented on #17
@chrhansen @geoffreylitt can you confirm that the PR is working for your machines?

[2016-07-22 13:56] #17 closed

[2016-07-26 08:48] nethsix commented on #21
I prefer `tensorflow`, just to be consistent with the python module, and `Tensorflow` just to be consisten with `tensorflow` (otherwise there may be confusion).

[2016-08-05 13:52] jtoy opened #49 "need to turn this into a ruby gem"
there are some issues with this, will list them out later

[2016-08-07 19:52] geoffreylitt opened #53 "License?"
It looks like this project doesn't have an explicit license noted yet. I know it's still early, but I think it's important to have a license so that potential users and contributors can be assured about the legal status of this code.

I don't know enough about the background of where this project came from to suggest which license might be appropriate, but [this website](http://choosealicense.com/

[2016-08-08 16:29] jtoy commented on #49
@Arafatk so can you explain what are the issues of why it cant currently be a gem?  you mentioned docker as an issue? this definitely needs to be gemified to get more people easily using it.  Does the code depend on docker being around?

[2016-08-09 01:18] nethsix commented on #49
@jtoy It can be easily converted into a gem, we can just do `gem build tensorflow.gemspec`, which gives you `tensorflow-0.0.1.gem`. We could then upload it to rubygems.org. It is better that one of you guys do it if you want to gem to be tied to your account on rubygems.org. However this does not solve the problem of requiring explicit dependencies namely tensorflow (more precisely the shared libr

[2016-08-09 03:42] Arafatk commented on #49
@nethsix Thanks for this. I think that automating the entire process would be really cool. I don't have experience with docker but, I will look into it in some time.
@jtoy I am okay with uploading the gem to rubygems, if you wish and if you wish to upload it yourself, that is also cool.

[2016-08-09 04:28] nethsix commented on #49
@Arafatk Using docker to play around with ruby-tensorflow is simple, just install docker on your system, and just do `docker run -it nethsix/ruby-tensorflow-ubuntu:0.0.1.a /bin/bash`. Since ruby-tensorflow is already built anyone can just `cd /repos/ruby-tensorflow`, to gain access to the pre-installed tensorflow gem. They can just`require 'tensorflow'` to start using tensorflow in their code or i

[2016-08-09 04:51] riley-usagi commented on #49
Docker is a bad decision for a real project.

It is better to take an example from **nokogiri**, and write a normal manual installation of additional components / libraries.

[2016-08-09 06:05] nethsix commented on #49
@Arafatk, @jtoy, just to add, 'python' tackles this library dependencies with anaconda/conda which installs every scipy python libraries and their dependencies. Perhaps ruby can have something similar to anaconda which does the same for all sciruby stuff.

[2016-08-09 10:58] jtoy commented on #49
@riley-usagi I agree Docker is a bad decision for getting a gem setup. On the other side,  almost every time I install nokogiri, I always run into some path/libxml issue. we should probably look into how the python tensorflow package is structured. For that, all I do is "pip install tensorflow".  The ruby version must be just as simple.

[2016-08-09 11:56] jtoy commented on #21
agree tensorflow is best

[2016-08-09 20:26] chrhansen commented on #49
@jtoy I agree that this should be made into a proper gem and that it should install without much user intervention on main OSs, e.g. latest two versions of Ubuntu and latest two OSX or something along those lines. This was also my reason, https://github.com/somaticio/tensorflow.rb/pull/31#issuecomment-234814384, to why I wanted to do a Travis-CI build instead of relying on docker. However, a worki

[2016-08-09 22:50] nethsix commented on #49
@chrhansen Could you please clarify your points about using Travis vs. Docker? Without Docker wouldn't it mean rebuilding Google's tensorflow code every time we change ruby-tensorflow?
And even if we use Docker in CI, nobody is forced to use Docker anywhere else.

[2016-08-10 04:16] Arafatk opened #56 "Add support for Multi Dimensional Tensors for String Data type in tensor"
A good solution to this problem was released in #26. But somehow it's a hack:
- It's actually assuming that there are strings in the tensor.
- It currently can't deal with multi dimensional string arrays.
- Encoding issues of strings are not covered.
  Its best, if we were to have a complete solution for this.

[2016-08-10 04:24] Arafatk opened #57 "Add support for zero dimensional tensors(Scalar)"
Its easy to do this and its example in python can be seen [here](https://www.tensorflow.org/versions/r0.10/resources/dims_types.html).

[2016-08-10 11:52] Arafatk commented on #49
@nethsix and @chrhansen Thanks for the valuable input and all for the effort you have done for making the testing possible. This problem may seem easy at first but it was really tough. I had even put a bounty on Stackoverflow [question](http://stackoverflow.com/questions/38448897/how-to-build-a-shared-library-for-tensorflow-on-travis-ci) asked by Christian but got no good response. Despite all the

[2016-08-11 19:13] jtoy commented on #53
we will be using a BSD3 license

[2016-08-13 06:22] chrhansen commented on #49
@nethsix For me it's not really about Travis vs. Docker, but more about making a gem that installs easily and reliably – with least amount of dependencies. SotThat would be why I'd prefer not requiring users installing and running Docker before they can run Tensorflow.rb, but if the benefits (anything else than avoiding building the shared lib?) are overwhelming, for sure!

I could very well be wr

[2016-08-14 15:54] #53 closed

[2016-08-14 16:37] geoffreylitt commented on #53
Thanks for adding this to the repo @jtoy!

[2016-08-23 14:46] #57 closed

[2016-08-28 03:44] chrhansen commented on #56
@Arafatk what is the task specifically for this issue – what is the missing support for string data type?

[2016-08-28 03:49] chrhansen opened #66 "Add `eval` to `Tensor`"
https://www.tensorflow.org/versions/r0.10/api_docs/python/framework.html#Tensor.eval

[2016-08-28 04:15] chrhansen opened #67 "Add #device to place ops on specific named devices"
https://www.tensorflow.org/versions/r0.10/how_tos/using_gpu/index.html#supported-devices

Used in "Basic Usage" here: https://www.tensorflow.org/versions/r0.10/get_started/basic_usage.html

[code]

[code]

[2016-08-28 06:54] Arafatk commented on #56
@chrhansen The issue here is that we can not use [multidimensional arrays](https://github.com/somaticio/tensorflow.rb/blob/master/lib/tensorflow/tensor.rb#L49) of string data type in tensorflow.rb.

[2016-08-28 20:40] chrhansen commented on #49
- [ ] Create install script that works reliably for Ubuntu and OSX (e.g. last two releases)
- [ ] Add to Rubygems.org

[2016-08-28 20:56] chrhansen opened #68 "Create Basic Usage tutorial in Ruby"
Redo the [Basic Usage Python tutorial](https://www.tensorflow.org/versions/r0.10/get_started/basic_usage.html#content) in Ruby. Probably a few of the features from the Python-tutorial will not be available for the [0.1.0 Milestone](https://github.com/somaticio/tensorflow.rb/milestone/1) (e.g. [`tf.InteractiveSession()`](https://www.tensorflow.org/versions/r0.10/get_started/basic_usage.html#interac

[2016-08-28 21:11] chrhansen opened #69 "Add support for default graph"
__Retrieving Default Graph__
It should be possible to retrieve a default graph [See Python doc](https://www.tensorflow.org/versions/r0.10/api_docs/python/framework.html#get_default_graph). This might be the first thing to build as the code for creating ops and running a session would use the "get-default-graph" method.

__Creating Ops__
Unless explicitly specified nodes should be added to this def

[2016-08-28 21:12] chrhansen commented on #69
@geoffreylitt didn't you mention at some point you wanted to look into adding support for default graph?

[2016-08-28 21:26] chrhansen opened #70 "Add support for GradientDescentOptimizer"
I'm not sure if this is strictly necessary for the [0.1.0 Milestone](https://github.com/somaticio/tensorflow.rb/milestone/1), however having at least one optimizer/trainer would be great.

__Python documentation:__
https://www.tensorflow.org/versions/r0.10/api_docs/python/train.html#GradientDescentOptimizer

__Python wrapper:__
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python

[2016-08-29 01:05] geoffreylitt commented on #69
Yep! Earlier discussion was here: https://github.com/somaticio/tensorflow.rb/pull/52

Last couple weeks have been busy and I haven't had time to make progress on an implementation, but I was planning to work on this in the next week or so.

[2016-08-29 02:07] jtoy commented on #49
I've been swamped. I plan to work on this mid September.

-- Sent from my mobile

[2016-08-29 03:38] chrhansen commented on #49
@jtoy Cool. You should coordinate with @Arafatk as he also was considering working at this.

[2016-10-13 08:55] obromios opened #72 "example.rb giving undefined method `length' error"
I have asked the following [question](http://stackoverflow.com/questions/39995058/ruby-gem-tensorflow-rb-example-not-working) on stackoverflow but have had no answer:

I have installed tensorflow.rb using docker, as described.  When I run ```bundle exec rspec spec```, all examples pass.

I have created a file ```example.rb``` as instructed. When I run the file using ```ruby example.rb```, I get th

[2016-10-13 18:50] chrhansen commented on #72
I've followed up with a question over there.

[2016-10-13 20:32] obromios commented on #72
I have replied to your query on [stack overflow](http://stackoverflow.com/questions/39995058/ruby-gem-tensorflow-rb-example-not-working).

[2016-10-13 20:48] chrhansen commented on #72
@nethsix Do you know why the docker image is not pulling in the latest commit? http://stackoverflow.com/questions/39995058/ruby-gem-tensorflow-rb-example-not-working?noredirect=1#comment67337965_39995058

[2016-10-14 03:24] Arafatk commented on #72
I think the issue here is that docker is not really using the latest repository. The current repository has around 80+ tests whereas the docker version would have around(40-50 tests I am not sure of the exact number). (@nethsix might know why this is happening )
@obromios Would it be possible for you to make use of the long [install instructions](https://github.com/somaticio/tensorflow.rb#installa

[2016-10-14 07:12] obromios commented on #72
Hi

I just have a casual interest in this, and I also wanted to try docker. I
am prepared to believe long install instructions would work for me, but am
happy to wait until you have a chance to update the docker package.

Chris

On Fri, Oct 14, 2016 at 2:24 PM, Arafat <notifications@github.com> wrote:

[2016-10-14 13:58] nethsix commented on #72
Hey all,

Thanks for reporting it.
Let me take a look at it tomorrow morning.

On Friday, October 14, 2016, Chris <notifications@github.com> wrote:

[2016-10-14 14:00] Arafatk commented on #72
Thanks @nethsix

[2016-10-15 15:38] nethsix commented on #72
I've updated the docker image.
Updated the tools/docker/Dockerfile as well.
Pull requested some updates to using Docker on the README.

On Friday, October 14, 2016, Arafat <notifications@github.com> wrote:

[2016-10-15 21:24] obromios commented on #72
I have tested the new instructions and new docker image, and it all works perfectly. Thank you for your help.

[2016-10-15 21:24] #72 closed

[2016-10-30 15:04] nethsix commented on #70
I've looked at this on-off a bit. I will try to work on this and see how it goes.

[2016-12-20 18:03] arbox commented on #68
@chrhansen I'll do that by the mid January.

[2016-12-20 21:46] chrhansen commented on #68
@arbox sounds great!

[2016-12-26 09:29] ytorii opened #79 "Support for Tensorflow r0.12"
Recently I found this cool project and installed tensorflow.rb with building `libtensorflow.so` from latest Tensorflow source, but spec test failed with initializing `Session` object.
This seems mainly because the C API has been changed as below from Tensorflow r0.12 :

- TF_SessionWithGraph has been renamed to TF_Session
- TF_Session has been renamed to TF_DeprecatedSession

So do you have any sc

[2016-12-26 09:32] Arafatk commented on #79
@ytorii Yes. I am working on this currently. Many changes were made to the tensorflow C API after the completion of Tensorflow.rb so the tests fail now.

I will have to completely restructure the gem and it will take some time. But it will be faster and will have a lot more features.

[2016-12-26 12:34] ytorii commented on #79
Thank you for your quick response and I'm looking forward to supporting r0.12. If there is be able to help you, please let us  know.

[2017-01-09 06:13] arbox commented on #68
Hi @chrhansen I've just started to collect sources for the tutorial and wonder where should I put them in this repository. Some `tutorial.md` under the root? The `doc` folder?

[2017-01-09 10:14] abinashmeher999 commented on #68
@arbox An [IRuby notebook](https://github.com/SciRuby/iruby) might be better suited for this.

[2017-01-09 11:17] arbox commented on #68
@abinashmeher999 but still where? :) Linked throught nbviewer?

[2017-01-09 11:58] abinashmeher999 commented on #68
The maintainers would be better able to answer where to keep it. For [symengine.rb](https://github.com/symengine/symengine.rb) we have a folder named `notebooks` under the root folder where they are kept. And also you can open any publicly available notebook on github through nbviewer. There isn't any explicit procedure to link them.

[2017-01-14 06:48] Arafatk commented on #68
Sorry for the late reply guys.
@abinashmeher999 Thanks for the advice, Iruby is certainly very cool and useful for this.
@arbox I think you could do something very similar and make a notebooks folder and send a Pr. An iruby example like [this](http://nbviewer.jupyter.org/github/symengine/symengine.rb/blob/master/notebooks/differentiation_example.ipynb) seems very cool and useful.

Also, I just wan

[2017-03-15 15:24] Arafatk commented on #79
@ytorii You can take a look at the new tensorflow API and your comments about anything are very welcome.

[2017-03-15 15:24] #79 closed

[2017-03-26 16:52] halogenandtoast opened #84 "arithmetic on a pointer to void"
When running make I get the following errors:

[code]

If I typecast these to `char*` before the addition I can get the gem to build, but it segfaults when I try to do anything. For instance, here is the backtrace when I try to run the classify_image.rb example:

[code]

[2017-03-26 18:16] Arafatk commented on #84
@halogenandtoast I am sorry for the issue.
I am very certain that this maybe because you might not be using the latest version of Tensorflow source.
I will try to install everything on a fresh Digital ocean droplet to test the issue.

Thanks

[2017-03-28 06:56] Arafatk commented on #84
@halogenandtoast I have updated the [install script ](https://github.com/somaticio/tensorflow.rb/blob/master/tools/install.sh) . You can just run this script and it will properly install all the dependencies for Tensorflow and then install tensorflow.rb properly.
I have tested it on a fresh ubuntu instance too.
After that you can run bundle exec rake spec for the tests and they will pass.
If you f

[2017-03-28 09:16] halogenandtoast commented on #84
I still get the arithmetic issue. I wonder if it has anything to do with me being on OSX and using clang as a compiler instead of GCC?

[2017-04-01 12:22] Arafatk commented on #84
@halogenandtoast I am almost certain that this might be the reason for your issue.
I am not very well versed with compilers but as of now that is all I can say.

[2017-04-02 21:12] memikequinn commented on #84
@halogenandtoast - Did you find a way around this issue?  Running into the same problem.

[2017-04-03 01:18] halogenandtoast commented on #84
@memikequinn I've had no luck. Any hack I've put in place to get rid of this warning give me a gem that segfaults. I believe the segfault is related to:

[code]

[2017-04-05 03:38] Arafatk commented on #84
@halogenandtoast Even I get a similar message  when I do `make` in the ext directory

[code]

But notice that this is just a warning and not an error.
While writing these functions there was no work around for this.  I think maybe this is an issue with using clang compiler.

[2017-04-06 02:41] Zigngit opened #85 "Image Recognition example not working any more"
When I try the image recognition example with newest libtensorflow.so, I got a error below.
BTW, new libtensorflow.so is quite small than previous version like 90MB vs 450MB

`2017-04-06 11:18:59.850190: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and could speed up CPU computations.

[2017-04-06 12:30] Arafatk commented on #85
@Zigngit I am sorry for the issue.
Yes, the new libtensorflow.so file is much smaller(97.3 Mb) compared to previous version.
Also have you followed the updated [README](https://github.com/somaticio/tensorflow.rb/blob/master/image/README)?
And have you installed the gem again completely(you can use [install script](https://github.com/somaticio/tensorflow.rb/blob/master/tools/install.sh))?

![image]

[2017-04-07 02:30] Zigngit commented on #68
I tried your install.sh on brand new ubuntu 16.04 server, and it works like a charm.
Basically, I should have done every thing the same as that script manually on the previous try. Maybe I need some time to figure out exactly what caused the problem.

But I still get a crash when using image_classify.rb with a retrained pb file from the tensorflow tutorials. I think that should be the "not support

[2017-04-07 02:33] Arafatk commented on #68
@Zigngit Thanks for doing this.
Did you download the pb file from this link `https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip`  ?

[2017-04-07 02:58] Zigngit commented on #68
[https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip] this one works perfect.

But I would like to use a retrained one. I followed this tutorial and the generate a output_graph.pb , and it cant work with the image_classify.rb
https://www.tensorflow.org/tutorials/image_retraining

[2017-04-07 03:17] Zigngit commented on #68
I also tried retrained model with an older version libtensorflow.so and tensorflow.rb.
It also crashed.

root@mt4:~/tensorflow.rb/image# ruby retrain.rb
Trying to classify image file: mysore_palace.jpg
/usr/local/lib/ruby/gems/2.3.0/gems/tensorflow-0.0.1/lib/tensorflow/session.rb:103: [BUG] Segmentation fault at 0x00000000000017
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]

-- Control

[2017-04-07 10:42] Arafatk commented on #85
@Zigngit I read about your query regarding using retrained model in tensorflow.rb.
I am sorry to say this, but the crash you got for retrained model was expected.
It's a bit difficult to explain the whole thing but I will try my best.
Basically the inception model that is working fine with tensorflow.rb and the file file `classify_image.rb` helps to define a few operations that help out with readi

[2017-04-08 15:13] jc07 commented on #56
@Arafatk I have been looking at the latest developments and its really interesting.
I think the new API does not support multi-dimensional string tensors.
I am exploring the API and I want to try this issue.

[2017-04-08 15:30] Arafatk commented on #56
@jc07 Thanks a lot for your interest.
I am glad you are interested in solving the issue, feel free to raise any questions you have regarding this.
Thanks

[2017-04-10 02:52] Zigngit commented on #85
Thank you very much for the explanation.
I cant get them all because I am quite a newbie to protobuf and tensorflow, but I will try. I will look into the pbtxt carefully later. Before that it will very very kind if you can tell me whether it is true or false for the question below, which would greatly help me to understand the problem.

1. the retrain.py provided by them does not output a GOOD pb

[2017-04-11 21:13] Arafatk commented on #85
1. Yes, This true.

2. I am not exactly sure what you are implying here but I will give it a try.
You can think of protobuf as a set of instructions(called operations) that are stored in a file.
In the case of image recognition examples those instructions are saved in the protobuf file. To finally the run need some other instructions like reading an image file converting it to tensors etc.
The ten

[2017-04-17 08:32] Arafatk commented on #85
@zigngit After a simple tweak. I was able to run the python example provided officially and I think its possible to run the retrained model with ruby too.
Would it be okay if I were to reply to you this weekend about the status? (I have 2 exams this week.)

[2017-04-21 04:50] BackOrder opened #87 "No tensorflow.rb gem?"
Is there a **tensorflow.rb** gem available?

Does **tensorflow.rb** work on Windows?

[2017-04-25 22:14] halogenandtoast commented on #84
Right, part of the problem is performing arithmetic on a void pointer is undefined behavior which is probably compiler dependent. Is there a reason why these have to be initialized as void pointers? You can always cast them as the correct type (I assume char*) and typecast them to void when needed.

[2017-04-27 18:15] Arafatk commented on #84
@halogenandtoast That has to do with the tensorflow internals and I can't comment on that.
I am assuming that if they have done it there is a very good reason for it or maybe it was simply unavoidable.

[2017-04-27 18:16] #85 closed

[2017-04-27 18:17] Arafatk commented on #87
@BackOrder Yes, tensorflow.rb gem is available but I am afraid the installation is not very direct.
Currently, tensorflow.rb won't work on Windows.
As for linux you can follow the[ installation instructions](https://github.com/somaticio/tensorflow.rb) or use the [install script](https://github.com/somaticio/tensorflow.rb/blob/master/tools/install.sh).

[2017-04-30 22:56] #87 closed

[2017-05-01 18:22] ljulliar opened #88 "Graph addition of strings test failed"
Hi,
First of ll congratulations for the fantastic work you have done with this Ruby interface to TensorFlow.
I just wanted to report I got today. A couple of days ago I went through the installation process step by step and it worked like a charm including the test suite at the end invoked through the "bundle exec rake test" command.
Today I decided I had enough with those warnings from the Tensor

[2017-05-05 20:21] Arafatk commented on #88
@ljulliar Thanks a lot for your query, warnings are something that bothered me for some time but I ignored them because of [this](https://github.com/tensorflow/tensorflow/issues/7778).
I am really sorry that I couldn't reply to you earlier,  as I recently immigrated to Canada from India and it took me some time to get set up.
I have been looking at this and trying to replicate this.
I think this i

[2017-06-06 15:15] joegyoung commented on #68
I have success following --> https://www.tensorflow.org/tutorials/image_retraining
I changed the input to 'Mul' and output to 'final_result'

I also changed the input operations to

[code]
I changed the input operations by matching the them to the graph in tensorboard.

[2017-06-08 05:06] headius opened #89 "Wider Ruby support using FFI"
I started playing with TensorFlow a bit today, and of course my first thought was doing it in Ruby.

Because I wanted something that would work with JRuby, my first path was to generate an FFI library. After some struggling with ffi_gen, I managed to generate this...and it worked!

https://gist.github.com/headius/446fc4980bf715bc5b358f1ba881aa80

I worked through some of the basic examples and, as

[2017-06-08 19:13] Arafatk commented on #89
@headius First of all, Thanks a lot for your interest in tensorflow.rb.
I wish I had a better answer than this but currently I am extremely busy and caught up in my research work.
I haven't used FFI for my work, ever so I have no arguments against its usage. I tried using FFI for tensorflow.rb around a year ago but I let it go for some reason that. I understand how using FFI could be very useful b

[2017-06-08 19:15] Arafatk commented on #68
@joegyoung Thanks a lot for this.

[2017-06-08 19:25] headius commented on #89
There's also an FFI generator from SWIG, which might make your changes less invasive...but have a look at my gist too. All the exported C functions, enums, etc are provided; as I mentioned I was even able to do some of the basic examples, albeit through considerably more verbose C than I used in Java and Python.

It may also be possible to maintain both backends until FFI can be proven out as a go

[2017-06-08 19:28] Arafatk commented on #89
@headius That is really cool, Please go ahead.

[2017-06-08 19:43] jtoy commented on #89
When we first started this project, SWIG was the sanctioned way to do a library. FFI is not the sanctioned method since about 6 months ago
https://www.tensorflow.org/extend/language_bindings
" Client languages should use the language's foreign function interface (FFI) to call into this C API to provide TensorFlow functionality."  I would love to see this working with jruby!

[2017-06-08 20:21] headius commented on #89
@jtoy That's wonderful! Their recognition of FFI means they'll probably be evolving the API with FFI in mind. Seems like it would be a good idea to try moving tensorflow.rb toward FFI. Luckily a lot of the work may be done already thanks to ffi_gen 😄

[2017-06-14 13:37] Akshay2402 commented on #85
Hello Arafatk,
I have been using tensorflo.rb and I am stuck at the same problem as of Zigngit as i was trying to retrain my own model just as a same way they have done it in python the retraining of final layer of inception V3. But I could not do it with tensorflow.rb. I understood the differences as you mentioned in your above comments. The last comment says that it is possible to do it with few

[2017-06-14 19:43] jtoy commented on #89
@headius I would love to work on this, I dont have much experience with java/C integrations.  That given, I would to help in other ways like put up some  cash/bounty,testing, etc.  I was actually looking into using java for writing a RNN recently, but didnt find anything suitable.  And thanks for jruby, I've been using it more and more recently on some bigger projects :)

[2017-06-16 21:01] AshtonO commented on #84
@halogenandtoast @Arafatk Was there ever any update/fix for this?

I'm trying to build on Sierra and still running into the same problem.

[2017-06-19 19:17] AshtonO opened #91 "All of the Medium.com examples that call run fail with error undefined method 'c'"
**Note:** This is not an issue that will require code changes, however it is extremely confusing that the few examples linked to in the main README do not work anymore.  Are there any up-to-date examples of how to use the run command other than the one in the image classification example?

It appears that the `run` method has been changed since the examples on medium.com were all posted.

Now, any

[2017-06-19 19:20] AshtonO commented on #91
I just realized there are run examples within the spec test files.

I'll close this issue, but still would recommend some editing of the README file to make note that most of the example code provided will no longer work.

[2017-06-19 19:20] #91 closed

[2017-06-26 21:39] Arafatk commented on #91
@AshtonO Sorry for the inconvenience. I believe you are referring to the examples on medium.com  blog post.
I will update the blog post soon.
Thanks

[2017-06-26 22:01] AshtonO commented on #91
Hey Arafat,

Thanks for the response!

Also, I'm wondering if you still work on TensorFlow.rb? I believe I found a
memory leak and am wondering what the best way to discuss this with you is
(assuming you're even working on the project still)

Thanks,
Ashton

On Jun 26, 2017 4:39 PM, "Arafat" <notifications@github.com> wrote:

@AshtonO <https://github.com/ashtono> Sorry for the inconvenience. I
bel

[2017-06-26 22:04] Arafatk commented on #91
Hi @AshtonO
Please email me on arafat.da.khan@gmail.com if you want.
As for whether I am working on the project or not, I am really busy these days due to a research internship and I am kind of hopping between many things.
I can still try to make some time if possible over the weekends.

[2017-06-26 22:17] AshtonO opened #92 "TF_TensorDelete is never called, so there's a massive memory leak whenever tensors are built."
Using the gem [get_process_mem](https://github.com/schneems/get_process_mem), I noticed that the memory usage by my process was increasing dramatically if I tried to do a large number of predictions (where each prediction creates an input tensor, and calls session.run)

I've tracked this down to line 59 of `tensor.rb`, which calls the `TF_NewTensor_wrapper function`.  Looking at this, I noticed th

[2017-07-04 11:45] aishmita-aggarwal opened #94 "Unable to install with ruby 2.2.5"
I am getting the following output on running 'make'

compiling Tensorflow_wrap.cxx
In file included from Tensorflow_wrap.cxx:2733:
././files/tf_tensor_helper.cc:43:46: error: arithmetic on a pointer to void
                *(char *)(buffer_data_pointer+i) = file_string[i];
[code]

[2017-07-04 16:18] arbox opened #95 "RubyML"
Dear @Arafatk ,

we've recently added `tensorflow`  to our RubyML list: https://github.com/arbox/machine-learning-with-ruby

In order to connect all Ruby & ML related projects we introduced the `rubyml` topic on GitHub.

Please cosider adding the `rubyml` topic to this repository as well so that the Ruby community can discover this project faster :smiley:

Thank you in advance!

[2017-07-04 18:19] Arafatk commented on #95
Thanks a lot.
Will do it soon.

On Jul 4, 2017 9:18 AM, "Andrei Beliankou" <notifications@github.com> wrote:

[2017-07-04 18:21] Arafatk commented on #94
Hi Aishmita,
This may be an issue with your c++ compiler.

Can you please tell me which version you are using?
Also, can you please try using the install.sh script present in tools
folder of the respository.
Thanks

On Jul 4, 2017 4:47 AM, "Aishmita Aggarwal" <notifications@github.com>
wrote:

[2017-07-16 12:25] trejkaz commented on #94
Getting the same compiler error here.

[code]

I'm not so sure this is an issue with the compiler, so much as it's just that a newer version of the compiler started banning some questionable pointer arithmetic which this code happens to be doing.

e.g., if you change this:

[code]

To this:

[code]

Now you get one less error. The other 3 look like more or less the same thing.

[2017-07-16 12:32] trejkaz commented on #94
**Disclaimer:** I don't know if that change I suggested means the same thing on all platforms, and also the library crashes for me after making this change, and I don't know whether that crash is due to this, or just because tensorflow itself is broken.

[code]

[2017-07-16 12:36] trejkaz commented on #94
Ah, this issue is a duplicate of #84.

[2017-07-16 12:46] trejkaz commented on #84
Repeating what I said over on #94 which I found first, but fixing the error itself is just a matter of casting before the additional, but I get the segfault as well.

I also get a ton of warnings, any of which _could_ be the cause for the segfault (could also be none of them)... implicit casts from 64-bit to 32-bit types may be it - there's a lot of warnings for those.

[2017-07-18 02:04] muhajirframe opened #97 "Is it possible to use this with crystal-lang?"

[2017-07-26 07:33] CicholGricenchos opened #99 "Could we use pre-compiled `libtensorflow.so` provided by Tensorflow official?"
https://www.tensorflow.org/install/install_c

Tensorflow is providing a script to download `libtensorflow.so` for different platforms. I have tried this and it seems to work well, with all tests passing.

Perhaps we could just use this distributed one and skip the bazel building step.

And moreover, the `libtensorflow.so` and `tensorflow.rb` could be published to Rubygems, then other users just ne

[2017-09-08 05:25] DannyBen opened #100 "Create :latest tag on Docker Hub"
It would be nice if you can also build on Docker Hub with the `latest` tag.

[2017-09-08 06:09] DannyBen opened #101 "Warning: TensorFlow library wasn't compiled to use SSE3"
When running the first sample code as provided in the [introductory blog post][1] inside the docker image, it displays several warnings:

[code]

Is this natural?

[1]: https://medium.com/@Arafat./introducing-tensorflow-ruby-api-e77a477ff16e

[2017-09-09 19:15] Arafatk commented on #101
@DannyBen Yes, [this](https://github.com/tensorflow/tensorflow/issues/7778) is very natural.

[2017-09-09 19:15] #101 closed

[2017-09-09 20:53] Arafatk commented on #100
@DannyBen Sorry, We didn't do it because of [this](https://medium.com/@mccode/the-misunderstood-docker-tag-latest-af3babfd6375).
You are very welcome to make a new image and I will add a link for that in README.

Thanks

[2017-09-09 20:53] #100 closed

[2017-09-09 20:55] Arafatk commented on #99
@CicholGricenchos Thanks for the query.
I did try using precomplied binaries but always had some issues with them so maybe doing the standard way seems okay.
If it works out for you please let me know.
Thanks

[2017-09-09 20:55] #99 closed

[2017-10-01 16:22] estelleccl opened #102 "got extconf.rb failed - when ran "ruby extconf.rb""
Hi All,

I got the error message below when trying to install tensorflow.rb(1st step):

[code]

I couldnt find mkmf.log in tensorflow_c folder

[code]

kindly please advise

[2017-10-10 07:33] ceritium commented on #102
I have the same problem, I am on macOS Sierra 10.12.4 (16E195) and ruby 2.4.0

[2017-10-20 21:25] Arafatk opened #103 "Resolve Installation issues across multiple platforms and release Docker containers"
Currently, Tensorflow.rb works perfectly on fresh Ubuntu 14, 16 versions as tested on Virtual Machines.
However, the installation process takes a lot of time and new users face installation issues with Mac OS.

Our goal is to resolve the installation issues across various Operating systems and also release Docker container to resolve these issues all together.

[2017-11-23 20:32] msroot commented on #84
Also have the same issue
[code]

[2018-01-18 00:09] Arafatk commented on #102
@estelleccl @ceritium
Hi Guys,
I am incredibly sorry for all this delay in responding to you guys.
I didn't have access to macOS before and therefore it was very difficult for me to help you guys out with the installation process.
I just wanted to tell you that I have made a few changes to the c bindings code and hopefully the installation should work now.
I recommend that you guys follow all the

[2018-01-18 00:12] Arafatk commented on #94
@aishmita-aggarwal @trejkaz I am incredibly sorry for the delayed response for this.
I couldn't replicate this issue on my machine before and therefore, I couldn't help you out.
I have updated the code to solve this issue and therefore I am closing this issue.
If the issue still persists feel free to reopen this and I will try my best to help you out.
Thanks

[2018-01-18 00:12] #94 closed

[2018-01-18 00:13] Arafatk commented on #97
@muhajirframe Thanks for the query.
This is not possible as of now.
You are very welcome to experiment with the repo.

[2018-01-18 00:13] #97 closed

[2018-01-18 00:14] Arafatk commented on #103
Released Docker container and Solved the installation so closing the issue for now.

[2018-01-18 00:14] #103 closed

[2018-01-18 00:15] #95 closed

[2018-01-18 00:16] Arafatk commented on #92
@AshtonO Can we close this?

[2018-01-18 00:16] #88 closed

[2018-01-18 00:18] Arafatk commented on #84
@halogenandtoast @msroot @trejkaz @memikequinn @AshtonO
I have made updates to the code.
Please try the installation process again and hopefully this should work out for you guys.
Feel free to reopen if you have any issues.

[2018-01-18 00:18] #84 closed

[2018-03-16 14:38] sp00ck opened #105 "more example"
Is possible to add simple xor example
and meybe normal mnist digit?

[2018-03-16 14:41] sp00ck commented on #102
I have similar in Linux (fedora 27):

[code]

Trouble is with log file. It not exist

[2018-04-03 06:27] happybai opened #106 "Got memory leak error when I use Tensorflow::Tensor.new(array, :float)"
When I build an complex tensor using the Tensorflow::Tensor.new(array, :float), I got a memory leak error(seems only happened on a big array). It maybe an memory malloc issue. When I change the data_size of Tensorflow::TF_FLOAT to 4(original value is 8) and the issue will be fixed. Is this a bug or it depends on my local C++ compiler or my usage issue?
Here is the code: https://github.com/somatici

[2018-05-23 00:30] WGautier opened #107 "ArgumentError with no message, trying to reproduce the SavedModel CAPTCHA example"
I'm trying to get something very similar [to the CAPTCHA example](https://github.com/somaticio/tensorflow.rb/blob/master/examples/captcha/captcha.rb). I built and saved a very simple model in Python using the high-level Estimator API (DNNClassifier). It takes 2 floats and outputs one of two classes. I'm trying to load it in Ruby and make a prediction with it.

I saved it using `export_saved_model`

[2019-01-23 07:07] sidneyjohndiongzon commented on #85
![image](https://user-images.githubusercontent.com/39855584/51588957-7d1d5680-1f20-11e9-891b-29583113aa9f.png)
im having this problem. what might be the reason. this is after I cloned and installed tensorflow.rb via docker

[2019-04-02 04:23] cyclotron3k commented on #49
I think it's worth uploading to RubyGems, if only for discoverability.

For many Rubyists looking to try TensorFlow (myself included), their first step will be to go to rubygems.org and type `tensorflow` into the search box.

Currently, it's very easy to overlook this gem.

[2019-06-10 19:15] LWFlouisa commented on #68
There end up being any usage tutorials?

[2019-07-10 12:18] j209 opened #109 "First release"
Hi
Why the project is not active?
And when we will have the first release?

[2019-07-12 20:08] sandeepnagra opened #110 "Docker image failing with Segmentation fault error on running classify_image.rb"
Here's the log:

`root@c8f53aedb9b3:/repos/tensorflow.rb/image# ruby classify_image.rb
E tensorflow/core/client/tensor_c_api.cc:485] FeedInputs: unable to find feed output Mul
/usr/local/rvm/gems/ruby-2.2.4@ruby-tensorflow/gems/tensorflow-0.0.1/lib/tensorflow/session.rb:103: [BUG] Segmentation fault at 0x00000000000017
ruby 2.2.4p230 (2015-12-16 revision 53155) [x86_64-linux]

-- Control frame inf

[2020-07-09 18:51] headius commented on #89
I never got back to this but the ffi_gen or swig generator may still be an option. I will not have time to work on it, though, so I'm going to close this bug and hopefully someone else will be interested some day.

[2020-07-09 18:51] #89 closed

[2021-01-14 02:18] #56 closed